header {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: none;
    width: 100%;
    padding: 10px 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    font-size: large;
    margin-left: 10px;
}
p {
    text-align: left;
    
}
span {
   
    font-weight: 400;
    
}

