<h1>Ungular Employee Table</h1>
       <table *ngIf="equipments">
         <thead>
          <tr>
             <th>Id</th>
             <th>Equipment Type</th>
             <th>Equipment Name</th>
             <th>Employee Name</th>
             <th>Position</th>
             <th>Email</th>
           </tr>
         </thead>
         <tbody> 
                  <tr *ngFor="let equipment of equipments">
                    <td>{{equipment.id}}</td>
                    <td>{{equipment.type}}</td>
                    <td>{{equipment.name}}</td>
                    <td>{{equipment.employee.name}}</td>
                    <td>{{equipment.employee.committe}}</td>
                    <td>{{equipment.employee.email}}</td>
                  </tr>
              </tbody>
           </table>