.content{
    width: 850px; 
    margin-top: auto;
    margin-left: 8px;
    margin-bottom: 50px; 
    padding: 5px 0;
  }
.footer {
    width: 100%;
    height: 40px;
    background: #111;
    position: fixed; left: 0; bottom: 0;
    z-index: -100;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
  }
  .footer p{
    text-align: left;
    border: auto;
    color: #a6a5a5;
    font-size: 1em;
    font-weight: 300;
  }